<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @freelance_document.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @freelance_document.description %>
</p>

<p>
  <strong>File url:</strong>
  <%= @freelance_document.file_url %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @freelance_document.image_url %>
</p>

<%= link_to 'Edit', edit_freelance_document_path(@freelance_document) %> |
<%= link_to 'Back', freelance_documents_path %>
